@charset "utf-8";
body{
	font-family: Verdana, Tahoma;
	font-size: 10pt;
}
.signup{
	width:40%;
	height:60%;
	background-color: #81f8fe;
	border:2px solid gray;
	padding:10px;
	border-radius: 10px;
	box-shadow: 1px 1px;
	position:relative;
}
.shadow{
	box-shadow: 1px 1px;
}
label{
	font-weight: bold;
}
.caption{
	position:absolute;
	top:-10px;
	box-sizing:content-box;
	background-color:white;
	font-weight: normal;
	border:2pt solid #81f8fe;
}
.name{
	size:16;
	
}
.unknowntype{
	color:red;
}
.age{
	width:50px;
	size:6;
}
.personality{
	width:50px;
}
.submitbtn{
	font-weight: bold;
}
.back{
	color:red;
}
.backbtn{
	display:inline-block;
}
.copyright{
	width:40%;
}
.validator{
    left: 0;
    bottom:0;
}