@charset "utf-8";
boby{
	width:50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.signup{
	width:50%;
	height:60%;
	background-color: #81f8fe;
	border:2px solid gray;
	font-family: Verdana, Tahoma;
	font-size: 10pt;
	padding:10px;
	border-radius: 20px;
}
label{
	font-weight: bold;
}
.caption{
	box-sizing:content-box;
	border:2px solid white;
}
.name{
	size:16;
	
}
.unknowntype{
	color:red;
}
.age{
	width:50px;
	size:6;
}
.personality{
	width:50px;
}
.submitbtn{
	font-weight: bold;
}
.back{
	color:red;
}
.backbtn{
	display:inline-block;
}
.copyright{
	width:50%;
}
.validator{
    left: 0;
    bottom:0;
}