@charset "ISO-8859-1";
body{
	background-color: white;
	color:#404040;
	font-size: 11pt;
	font-family: Georgia, Garamond;
 	background-image: url("images/silverware.jpg");
}
a{
	color:#A4A400;
}
h1{
	color:#A4A400;
	background-color: #F0F0F0;
	font-family: Lucida Sans Unicode, Helvetica, Arial;
	text-align: center;
}
h2{
	color:#A4A400;
	background-color: #F0F0F0;
	font-family: Lucida Sans Unicode, Helvetica, Arial;
	align-content: left;
 	text-decoration: underline;
}
.comment{
	background-color: #FFFFA8;
	font-style: italic;
	text-indent: 20px;
}